<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watermelon Cultivation</title>
    <style>
      .main {
        width: 500px;
      }
    hr{
      
      color:red;
      fill: aqua;
    }
    </style>
  </head>
  <body>
    <div style="font-size: large"><h1>Watermelon cultivation</h1></div>
    <hr />
    <div style="text-align: right" id="google_translate_element"></div>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
          },
          "google_translate_element"
        );
      }
    </script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <div class="main2"></div>

    <div style="text-align: right" id="google_translate_element"></div>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
          },
          "google_translate_element"
        );
      }
    </script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <p>
      Watermelon is one of the flowering plant species. Watermelon is also grown
      for commercial purposes in long frost free warm periods. Asia grows three
      fourth of the world production. In comparison of other crops, cultivation
      of watermelon requires more sunlight and space.
    </p>
    <img
      class="main"
      src="https://kj1bcdn.b-cdn.net/media/52429/water-3-1.jpg"
      alt="Error"
    />
    <br /><br />
    <h2><u> Climate:</u></h2>
    <ul>
      <li>
        Watermelon belongs to the warm season crop and common in tropical and
        sub-tropical areas.
      </li>
      <li>Abundant sunshine is essential.</li>
      <li>Dry weather and long day suits to the cultivation.</li>
      <li>
        Excessive humid condition is harmful as it can cause disease like
        viruses, insects and mildew.
      </li>
      <li>
        At least 20°C temperature is required at the stage of germination.
      </li>
      <li>Temperature for early growth: 25-30°C</li>
      <li>During fruit development: 30-35°C</li>
    </ul>
    <br /><br />
    <h2><u> Soil:</u></h2>
    <ul>
      <li>
        Soil for the cultivation of watermelon should be fertile. Sandy or sandy
        loam soil is preferred for the cultivation of watermelon.
      </li>
      <li>Soil pH: 6-7.</li>
      <li>
        Soil of poor drainage does not suit the cultivation of Watermelon.
      </li>
    </ul>
    <h2><u> Season:</u></h2>
    <ul>
      <li>Dry season is best for the cultivation.</li>
      <li>North India: February-march</li>
      <li>Western states of India: Winters</li>
    </ul>
    <h2><u> Fertilizers and Manures:</u></h2>
    <table border="2" align="center" cellpadding="10" cellspacing="10">
      <thead>
        <th><b>Fertilizers</b></th>
        <th><b>Quantity</b></th>
      </thead>
      <tbody>
        <tr>
          <td><b>Nitrogen</b></td>
          <td>100 Kg/ha</td>
        </tr>
        <tr>
          <td><b>Phosphorus</b></td>
          <td>60 Kg/ha</td>
        </tr>
        <tr>
          <td><b>Potassium oxide</b></td>
          <td>60 Kg/ha</td>
        </tr>
      </tbody>
    </table>
    <h2><u> Seed rates:</u></h2>
    <p>Seed rate ranges from 3.5-5.0 Kg per hectare.</p>
    <h2><u>Harvesting:</u></h2>
    <ul>
      <li>
        Harvesting can take place after 95-120 days from the time of sowing.
      </li>
      <li>It is harvested when the fruit is fully matured.</li>
      <li>
        Maturity of watermelon can be seen when the rind becomes hard and cannot
        be separated with the help of thumbnail.
      </li>
    </ul>
    <h2><u>Yield:</u></h2>
    <p>
      Yield of watermelon ranges from 150-220 quintals per hectare (depending
      upon the climatic conditions and variety).
    </p>
    <h2><u>Storage:</u></h2>
    <ul>
      <li>
        Watermelon requires to be cooled in temperature of 12-15°C within 24
        hours of harvesting in case of long period of storage.
      </li>
      <li>
        Watermelon can be stored up to two weeks if they are in the atmosphere
        of 7°C and relative humidity.
      </li>
    </ul>
  </body>
</html>
